{% if stock_detail %}
    <ul>
    <h5>{{stock_name.name}}</h5>
    {% for info in stock_detail %}
        <!-- <li> {{info.date}} : {{ info.stock.name }} {{ info.close_price }} </li> -->
        <li> {{info.date}} - {{info.open_price}} {{info.high_price}} {{info.low_price}} {{info.closing_price}} {{info.transaction_value}} {{info.transaction_amount}}
                             {{info.fluctuation_rate}} {{info.bps}} {{info.per}} {{info.pbr}} {{info.eps}} {{info.market_cap}}</li>
    {% endfor %}
    </ul>
{% endif %}

{% if commentList %}

    <div><p><h1>{{stock.name}}</h1></p></div>
    <br>
    
    <ul>
    {% for day_info in stock_day_info %}
        <li>{{day_info}}</li>>
    {% endfor %}
    </ul>
    
{% else %}
    <h5>댓글이 없습니다.</h5>
{% endif %}