{% if stock_detail %}
    <ul>
    <h5>{{stock_name.name}}</h5>
    {% for info in stock_detail %}
        <!-- <li> {{info.date}} : {{ info.stock.name }} {{ info.close_price }} </li> -->
        <li> {{info.date}} - {{info.open_price}} {{info.high_price}} {{info.low_price}} {{info.closing_price}} {{info.transaction_value}} {{info.transaction_amount}}
                             {{info.fluctuation_rate}} {{info.bps}} {{info.per}} {{info.pbr}} {{info.eps}} {{info.market_cap}}</li>
    {% endfor %}
    </ul>
{% endif %}

{% if stock_name.comment_set %}
    <hr>
    <h3>댓글</h3>
    
    {% for comment in stock_name.comment_set.all %}
        <dt>{{comment.user.nickname}}</dt>
        <dd>{{ comment.content }} - {{ comment.create_time }}</dd>
    {% endfor %}
    
    
{% else %}
    <h5>댓글이 없습니다.</h5>
{% endif %}
<form action="{% url 'StockInfo:comment' stock_name.stock_id page_num %}" method="post">
    {% csrf_token %}
    <textarea name="content" id="content" rows="15"></textarea>
    <input type="submit" value="댓글등록">
</form>